[submodule "prompt-log-api"]
	path = prompt-log-api
	url = https://github.com/anmol678/prompt-log-api.git
[submodule "prompt-log-app"]
	path = prompt-log-app
	url = https://github.com/anmol678/prompt-log-app.git
[submodule "prompt-log-python"]
	path = prompt-log-python
	url = https://github.com/anmol678/prompt-log-python.git
