[submodule "prompt-layer-app"]
	path = prompt-layer-app
	url = https://github.com/anmol678/prompt-layer-app.git
[submodule "prompt-layer-api"]
	path = prompt-layer-api
	url = https://github.com/anmol678/prompt-layer-api.git
[submodule "prompt-layer-python"]
	path = prompt-layer-python
	url = https://github.com/anmol678/prompt-layer-python.git
